body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 300px;
  background-color: #f9f9f9;
  padding: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-size: 16px;
}

input[type="submit"],
input[type="button"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

h2 {
  font-size: 24px;
}
